<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>		
    <properties resource="FrequencyControl.properties">
    	<!--活动状态-->
    	<property name="activity.status.ongoing" value="0"/>
    	<property name="activity.status.pause" value="1"/>
    	<property name="activity.status.finish" value="2"/>
    	<property name="activity.status.draft" value="3"/>
    	<property name="activity.status.waiting" value="4"/>
    </properties>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="multipleResultSetsEnabled" value="false" />
        <setting name="useColumnLabel" value="true" />    
        <setting name="defaultExecutorType" value="REUSE" />     
        <setting name="defaultStatementTimeout" value="2000"/>
    </settings>    
    <typeAliases>
    <typeAlias alias="Example"  type="com.cn21.FrequencyControl.module.Example"/>
    </typeAliases>
</configuration>
