<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn21.FrequencyControl.dao.BlacklistDao">

    <select id="queryAllByAppKey" parameterType="String" resultMap="blacklist">
    	select * from blacklist where app_key=#{appKey}
    </select>
    
    <select id="queryByUsername" resultMap="blacklist">
    	select * from blacklist where app_key=#{0} and customer_id=#{1}
    </select>
    
    <select id="queryByIp" resultMap="blacklist">
    	select * from blacklist where app_key=#{0} and limited_ip=#{1}
    </select>
    
    <select id="testingByUsername" resultMap="dateMap">
    	select fir_date,sec_date,thr_date from blacklist where app_key=#{0} and customer_id=#{1}
    </select>
    
    <select id="testingByIp" resultMap="dateMap">
    	select fir_date,sec_date,thr_date from blacklist where app_key=#{0} and limited_ip=#{1}
    </select>
    
    <insert id="add" parameterType="Blacklist">
    	insert into blacklist values(null,#{appKey},#{customerId},#{limitedIp},#{times},#{firDate},
    	#{secDate},#{thrDate},#{absoluteDate})
    </insert>
    
    <update id="reset">
    	update blacklist set times=0,fir_date=NULL ,
    	sec_date=NULL , thr_date=NULL , absolute_date=NULL where app_key=#{0} and customer_id=#{1}
    </update>

    <update id="resetByIp">
        update blacklist set times=0,fir_date=NULL ,
        sec_date=NULL , thr_date=NULL , absolute_date=NULL where app_key=#{0} and limited_ip=#{1}
    </update>
    
    <update id="modify" parameterType="Blacklist">
    	update blacklist set
    	times=#{times}, fir_date=#{firDate}, sec_date=#{secDate}, thr_date=#{thrDate}, absolute_date=#{absoluteDate}
    	where app_key=#{appKey} 
    </update>
    
    <delete id="delete" parameterType="int">
    	delete from blacklist where blacklist_id=#{id}
   	</delete>
    
    <resultMap type="Blacklist" id="blacklist">  
        <result property="blacklistId" column="blacklist_id"/>
        <result property="appKey" column="app_key"/>
        <result property="customerId" column="customer_id"/>
        <result property="limitedIp" column="limited_ip"/>
        <result property="times" column="times"/>
        <result property="firDate" column="fir_date"/>
        <result property="secDate" column="sec_date"/>
        <result property="thrDate" column="thr_date"/>
        <result property="absoluteDate" column="absolute_date"/>
    </resultMap>
    
    <resultMap type="java.util.HashMap" id="dateMap">
    	<result property="firDate" column="fir_date"/>
        <result property="secDate" column="sec_date"/>
        <result property="thrDate" column="thr_date"/>
    </resultMap>
    
</mapper>
