<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.cn21.FrequencyControl.dao.InterfacDao">
	<insert id="addInterfac" parameterType="Interfac" keyProperty="interface_id" useGeneratedKeys="true">
	insert into Interface_control(app_id,api_name,frequency,timeout,unit,deleted) 
	values(#{app_id},#{api_name},#{frequency},#{timeout},#{unit},#{deleted});
	</insert>
    <select id="getInterfacListByAppId" parameterType="long" resultMap="interfac">
    	select * from interface_control where app_id=#{appId} and deleted=0;
    </select>
    <select id="getDeletedInterfacListByAppId" parameterType="long" resultMap="interfac">
    	select * from interface_control where app_id=#{appId} and deleted=1;
    </select>    
    <select id="getInterfacByInterId" parameterType="long" resultMap="interfac">
    	select * from interface_control where interface_id=#{interId} and deleted=0;
    </select>
    <update id="updateInterfac" parameterType="Interfac">
    update interface_control set api_name=#{api_name},frequency=#{frequency},timeout=#{timeout},unit=#{unit}  where interface_id=#{interface_id};
    </update>
    <update id="updateInterFrequency" parameterType="Interfac">
    update interface_control set frequency=#{frequency} where interface_id=#{interface_id};
    </update>
    <update id="updateInterTimeout" parameterType="Interfac">
    update interface_control set timeout=#{timeout}  where interface_id=#{interface_id};
    </update>
    <update id="updateInterUnit" parameterType="Interfac">
    update interface_control set unit=#{unit}  where interface_id=#{interface_id};
    </update>
    <delete id="deleteInterfac" parameterType="long">
    update interface_control set deleted=1 where interface_id=#{interface_id};
    </delete>
    <update id="regainInterfac" parameterType="long">
    update interface_control set deleted=0 where interface_id=#{interface_id};
    </update>
    <resultMap type="Interfac" id="interfac">  
        <id column="interface_id" property="interface_id"/>  
        <result column="app_id" property="app_id"/>  
        <result column="api_name" property="api_name"/>  
        <result column="frequency" property="frequency"/>  
        <result column="timeout" property="timeout"/>  
        <result column="unit" property="unit"/>
        <result column="deleted" property="deleted"/>  
    </resultMap>  
</mapper>