<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn21.FrequencyControl.dao.UserDao">
	<select id="getUserByUsername" parameterType="String" resultMap="user">
    	select * from user where username=#{username};
    </select>
    <select id="getUserByUserId" parameterType="int" resultMap="user">
    	select * from user where user_id=#{userId};
    </select>
    <insert id="addUser" parameterType="User" keyProperty="user_id" useGeneratedKeys="true">
		insert into user(username,password,email,register_date) values(#{username}, #{password}, #{email},#{register_date})
	</insert>
	<update id="updateUserPassword" parameterType="User">
	update user set password = #{password}
		where username = #{username};
	</update>
	<update id="updateUserVisitInfo" parameterType="User">
	update user set last_ip = #{lastIp},last_visit = #{lastVisit}
		where username = #{username};
	</update>
	<delete id="deleteUserByUsername" parameterType="String">
	delete from user where username=#{username};
	</delete>
	
	<select id="getUsers" resultMap="user">
		select * from user order by register_date desc
	</select>
	
	<select id="getAddedUsers" resultMap="user" parameterType="java.sql.Timestamp">
		select * from user where register_date>#{adminLastLoginTime};
	</select>
	
	<select id="isEmailUsed" resultMap="user" parameterType="String">
		select * from user where email=#{email} limit 1;
	</select>
	
	<update id="updateUserEmail" parameterType="User">
		update user set email = #{email}
		where username = #{username}
	</update>
	
	
    <resultMap type="User" id="user">  
        <id column="user_id" property="user_id"/>  
        <result column="username" property="username"/>  
        <result column="password" property="password"/>  
        <result column="email" property="email"/>
        <result column="register_date" property="register_date"/>  
    </resultMap>  
   
</mapper>
